[Unit]
Description=__PACKAGE_NAME__ Collector Daemon
After=__PACKAGE_NAME__.service

[Service]
Type=forking
PIDFile=/var/run/__PACKAGE_NAME__-collector.pid
User=root
Group=www-data
WorkingDirectory=__PACKAGE_DIR__
ExecStart=__PACKAGE_DIR__/monitor-collectord.py start
ExecStop=__PACKAGE_DIR__/monitor-collectord.py stop

[Install]
WantedBy=__PACKAGE_NAME__.service
